body {
    background: #E5E5E5;
    font-family: 'Poppins', sans-serif;
}

.main-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-page {
    display: flex;
    flex-direction: column;
    justify-content: center     ;
    text-align: center;
    gap: 15px;
}

.header-page img {
    padding: 6px 6px 7px 7px;
    height: 200px;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-page a, .container-links a, .footer-links a, .header-page img{
    color: #BB99DD;
}

.header-page a, .container-links a{
    text-decoration: none;
}

.header-page a {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.container-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.container-links a {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    border: 2px solid;
    width: 24%;
    height: 49px;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    text-transform: uppercase;
}

.footer-links{
    display: flex;
    justify-content:space-between; 
    width: 236px;
    height: 27px;
}



